@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --bg-dark: #F4F1EA;
    --bg-light: #F9F7F4;
    --brown: #382110;
    --brown-less-opacity: #3821102d;
    --gray: #333333;
    --links-green: #00635D;
    --yellow: #FFD767;
    --yellow-dark: #E1B367;
    --green: #409D69;
    --green-dark: #333E30;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    padding: 0rem;
    margin: 0rem;
}

.body {
    padding: 0;
    margin: 1rem 3rem;
    color: var(--brown);
}

button, select {
    outline: none;
    border: none;
    background-color: var(--green);
    color: var(--bg-light);
    padding: 0.5rem 1rem;
    border-radius: .15rem;
    cursor: pointer;
}

.title {
    font-size: 1.5rem;
}

.flex-row-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.space-evenly {
    justify-content: space-evenly;
}

.justify-start {
    justify-content: flex-start;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.gap-1 {
    gap: 1rem;
}

.gap-0 {
    gap: 0rem;
}

.gap-2 {
    gap: 2rem;
}

/* ---------------------------- NAVIGATION BAR --------------------------------- */
nav .nav-icons, nav .input {
    display: none;
}

.nav-links a {
    text-decoration: none;
    color: inherit;
}

.nav-icons i {
    background-color: var(--brown-less-opacity);
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
}

input.input {
    padding: .5rem .5rem;
    border: none;
    outline: none;
    background: transparent;
    width: 10rem;
    color: var(--brown);
}

.input input::placeholder {
    color: var(--brown);
}

.input {
    /* padding-bottom: 1rem; */
    border-bottom: 2px solid var(--brown);
}

.icon {
    cursor: pointer;
}

.profile {
    width: 32px;
    height: auto;
    border-radius: 3rem;
    cursor: pointer;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--brown);
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: var(--brown);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* ------------------------------------ MAIN ------------------------------------ */
#Main {
    margin: 3rem 0rem;
    width: 100%;
    display: grid;
    /* grid-template-columns: 1fr 2fr; */
    gap: 3rem;
}

/* --------------------------- LEFT SIDEBAR ---------------------------- */

.left {
    display: none;
}

section {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--brown-less-opacity);
}

.left, .right {
    width: 90%;
    font-size: small;
}

/* .left p, .right p, .timeline p, .left small, .right small, .timeline small {
    margin: 0rem;
    padding: 0.25rem;
} */

p, small {
    margin: 0rem;
    padding: 0.25rem;
}

.icon-large {
    width: 1rem;
}

.left .links a, .right a {
    text-decoration: none;
    color: var(--links-green);
    font-size: small;
}

.left a:hover, .right a:hover {
    text-decoration: underline;
}

.set-target input {
    width: 2.5rem;
    padding: 0.25rem 0rem;
    outline: none;
}

.set-target {
    gap: 0rem;
}

#Main .input {
    /* padding: 0rem; */
}

/* --------------------------- RIGHT SIDEBAR ---------------------------- */
.right {
    display: none;
}

.right .ad {
    background-color: var(--bg-dark);
    width: 100%;
    aspect-ratio: 4/3;
    height: auto;
}

.award {
    gap: 0rem;
}

.award img {
    width: 100%;
    height: auto;
}

.award .text {
    background-color: var(--green-dark);
    color: var(--bg-light);
    padding: 1rem;
    gap: 1rem;
}

button.vote {
    background-color: var(--yellow);
    color: var(--brown);
}

.award-title {
    font-size: 1.5rem;
}

.book .cover img {
    width: 5rem;
    height: auto;
}

a.blog {
    font-size: large;
}

.right-links {
    color: var(--gray);
}

.right-links:hover {
    text-decoration: underline;
    cursor: pointer;
}

.social-media.nav-icons i{
    width: 50px;
    height: 50px;
}

/* --------------------------- RIGHT SIDEBAR ---------------------------- */
#banner {
    text-align: center;
    background-color: var(--links-green);
    color: var(--yellow);
    padding: 1rem;
    margin: 0;
}

#banner * {
    padding: 0;
    margin: 0;
}

/* --------------------------- TIMELINE ---------------------------- */
.award-banner-text {
    background-color: var(--bg-dark);
    color: var(--green-dark);
    padding: 1rem;
}

.award-banner-text a {
    text-decoration: none;
    color: inherit;
}

.timeline {
    padding: 2rem;
    background-color: var(--bg-light);
}

.timeline a {
    text-decoration: none;
    color: var(--links-green);
}

.book-card {
    padding: 1rem;
    outline: 1px solid var(--brown-less-opacity);
}

.book-card img.book-cover {
    width: 7rem;
    height: 100%;
}

.update-block {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: .15rem;
}

.book-card {
    background-color: #ffffff;
}

.comment input {
    width: 100%;
    border-bottom: 1px solid var(--brown);
}

.progressbar .outerbar {
    width: 10rem;
    height: 1rem;
    background-color: var(--brown-less-opacity);
}

.progressbar .innerbar {
    width: 3rem;
    height: 1rem;
    background-color: var(--green);
}

/* --------------------------- Footer ---------------------------- */
#footer {
    font-size: small;
    background-color: var(--bg-dark);
    /* width: 100%; */
    padding: 2rem 1rem;
}

#footer {
    display: flex;
}

/* MEDIA QUERIES */


@media only screen and (min-width: 992px) {

    .left {
        display: flex;
    }

    #Main {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 3rem;
    }
}

@media only screen and (min-width: 1200px) {
    nav .nav-icons, nav .input {
        display: flex;
    }

    .right {
        display: flex;
    }

    #Main {
        /* margin: 3rem 0rem; */
        /* width: 100%; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* gap: 5rem; */
        /* justify-content: center; */
        /* align-items: stretch; */
    }

    #footer {
        display: none;
    }
}